<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fasttag_logo_ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fasttag_logo_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastTag"
        tools:targetApi="21">
        <activity
            android:name=".view.AgentLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.TransactionsListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
        <meta-data android:name="com.phonepe.android.sdk.isUAT" android:value="true"/>
        <meta-data android:name="com.phonepe.android.sdk.isSimulator" android:value="true"/>
        <meta-data android:name="com.phonepe.android.sdk.MerchantId" android:value="M224GVZX415V2"/>
        <meta-data android:name="com.phonepe.android.sdk.AppId" android:value=""/>
        -->
        <!--
 For UAT, App Id is not required.
        Make sure to add the following and you get the APP Id for Production after UAT Sign-off
        -->
        <!-- <meta-data -->
        <!-- android:name="com.phonepe.android.sdk.AppId" -->
        <!-- android:value="<your app id given by PhonePe>"/> -->
        <activity
            android:name=".view.PhonePayPaymentGatewayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.AgentsListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.TeamLeadsListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.AgentSignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CreateAgentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.OTPVerficationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.FastLinkActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.DocumentsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.PersonalDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.AgentHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.VehicleRegistration"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>